@import "tailwindcss";

@font-face {
  font-family: "YekanBakhFa";
  src: url("/fonts/YekanBakhNoEn-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakhFa";
  src: url("/fonts/YekanBakhNoEn-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakhEn";
  src: url("/fonts/YekanBakhEn-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakhEn";
  src: url("/fonts/YekanBakhEn-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  font-feature-settings: "tnum";
  font-variant-numeric: normal;
}

body {
  font-family: "YekanBakhEn", sans-serif;
  direction: rtl;
  unicode-bidi: plaintext;
  font-variant-numeric: normal;
  font-feature-settings: "ss01";
}

* {
  font-family: inherit;
  font-variant-numeric: normal;
}

.Toastify__toast {
  font-family: "YekanBakhEn" !important;
  font-size: 14px;
}

.Toastify__toast--success {
  right: 10px !important;
  width: 250px !important;
}

.Toastify__toast--error {
  width: 250px !important;
}

@media (min-width:768px) {
  .Toastify__toast-container {
    left: auto !important;
    right: 40px !important;
    top: 110px !important
  }
}
